# Docker itself and relevant files
Dockerfile
.env
# No, no node modules.
node_modules
# No tests either, you're damn straight.
tests
# Don't care about the devcontainer
.devcontainer
# Don't care about docs either, they're online.
docs
# Don't care about no mise or nix files either, they're for development.
.mise.toml
flake.nix
flake.lock
# Don't care about these either, they're for local development.
.direnv
.envrc