.btn-circle {
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &.btn-sm {
        height: 1.8rem;
        width: 1.8rem;
        font-size: 0.75rem;
    }
    &.btn-lg {
        height: 3.5rem;
        width: 3.5rem;
        font-size: 1.35rem;
    }
}

.btn-icon, .btn-group-icon > .btn {
    padding: 0.15rem 0.25rem;
    font-size: 0.775rem;
    line-height: 1.1;
    border-radius: 2px;
}