// Global component styles

html {
	position: relative;
	min-height: 100%;
}

body {
	height: 100%;
}

a {
	&:focus {
		outline: none;
	}
}

// Main page wrapper
#wrapper {
	display: flex;
	#content-wrapper {
		background-color: $gray-100;
		width: 100%;
		overflow-x: hidden;
		#content {
		flex: 1 0 auto;
		}
	}
}

// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
	padding-left: $grid-gutter-width;
	padding-right: $grid-gutter-width;
}

// Scroll to top button
.scroll-to-top {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
	width: 2.75rem;
	height: 2.75rem;
	text-align: center;
	color: $white;
	background: fade-out($gray-800, .5);
	line-height: 46px;
	&:focus,
	&:hover {
		color: white;
	}
	&:hover {
		background: $gray-800;
	}
	i {
		font-weight: 800;
	}
}

// Custom extras
.front-cover{
	width: 100%;
	height: 100vh;

    background: url(/images/front.jpg);	
	background-size: cover;
    background-position: center center;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	.content{

		width: 500px;
		margin: auto;
		text-align: center;

		padding-top: 200px;

		&-title{
			font-size: 78px;
			color: white;
			line-height: 0;

			img{
				height: 78px;
			}
		}
		
		&-description{
			font-size: 22px;
			color: white;
		}

		a{
			margin-top: 20px;
			padding-top: 6px;
			width: 72%;
		}

	}

	.logo{
		position: absolute;
		bottom: 20px;
		left: calc(50vw - (215px / 2));

		img{
			width: 215px
		}
	}
}

.table{
	&-leftpadded{
		thead,tbody{
			th:first-child,td:first-child{
				padding-left: 15px;
			}
		}
	}

	.thead-dark, .tbody-dark{
		th{
			border-color: $blue;
			background-color: $blue;
		}
	}
}

// Lets tweak a bit the style of bootstrap-table plugin
table[data-toggle=table]{

	th{
		&:first-child{
			padding-left: 10px !important;
		}

		&:last-child{
			padding-right: 10px !important;
		}
	}

	.filter-control{
		input{
			height: calc(1.25em + .5rem + 2px);
			padding: .25rem .5rem;
			font-size: .875rem;
			line-height: 1.5;
		}
		select{
			height: calc(1.25em + .5rem + 2px);
			padding: .25rem .5rem;
			font-size: .875rem;
			line-height: 1.5;
		}
	}
}

.fixed-table-pagination{
	padding-left: 15px;
	padding-right: 15px;

	// Forcefully changing the rows for each page dropdown, as we can't change the html afaik
	div.float-left.pagination-detail > span.page-list > span > button{
		color: $gray-900;
		background-color: $gray-100 !important;
		border-color: $gray-200 !important;

		height: calc(1.5em + .5rem + 2px);
		padding: 0.25rem 0.5rem;
		font-size: 0.875rem;
		line-height: 1.5;
	}

}

// Training page css
.report-overflow-scroll{
	height: 560px;
	overflow-y: scroll;
}