// Override Bootstrap default variables here
// Bootstrap Color Overrides

@import "_env";

$snow: #dfebeb !default;
$white: #fff !default;
$gray-100: #f8f9fc !default;
$gray-200: #eaecf4 !default;
$gray-300: #dddfeb !default;
$gray-400: #d1d3e2 !default;
$gray-500: #b7b9cc !default;
$gray-600: #858796 !default;
$gray-700: #6e707e !default;
$gray-800: #5a5c69 !default;
$gray-900: #3a3b45 !default;
$black: #000 !default;

$darkblue: #011328 !default;
$blue: #1a475f !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #b63f3f !default;
$orange: #fd7e14 !default;
$yellow: #ff9800 !default;
$green: #41826e !default;
$teal: #20c9a6 !default;
$cyan: #43c6e7 !default;

// Note: We don't have $primary here as it overrides bootstrap vars.
$primary: $envColorPrimary;
$secondary: $envColorSecondary;
$tertiary: $envColorTertiary;

$info: $envColorInfo;
$warning: $envColorWarning;
$danger: $envColorDanger;
$success: $envColorSuccess;

// Typography
$body-color: $tertiary !default;

$font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-weight-light: 300 !default;
$headings-font-weight: 400 !default;

// Shadows
$box-shadow-sm: 0 0.125rem 0.25rem 0 rgba($gray-900, 0.2) !default;
$box-shadow: 0 0.15rem 1.75rem 0 rgba($gray-900, 0.15) !default;

// Borders Radius
// TODO: Replace with a per-size border radius environment variable once we use the various sizes consistently
$border-radius: $envBorderRadius !default;
$border-radius-sm: $envBorderRadius !default;
$border-color: darken($gray-200, 2%);

// Spacing Variables
$topbar-base-height: 4.375rem;
$sidebar-base-width: 14rem;

// Card
$card-cap-bg: $gray-100;
$card-border-color: $border-color;
$card-border-radius: calc($border-radius + 1px);

// Adjust column spacing for symmetry
$spacer: 1rem;
$grid-gutter-width: $spacer * 1.5;
$card-spacer-y: 1.25rem;
$card-spacer-x: 1.25rem;

// Transitions
$transition-collapse: height 0.15s ease !default;

// Dropdowns
$dropdown-font-size: 0.85rem;
$dropdown-border-color: $border-color;

// Relative position values
$position-values: (
  0: 0,
  25: 25%,
  40: 40%,
  50: 50%,
  75: 75%,
  100: 100%
);