// Login front landing page
a.version-front{
    display: block;
    
    text-align: center;
    font-size: 0.625rem;
    color: #8da0ab;

}

// Navigation triggered fixed body when responsive menu is open
.fixed-body{
    position: initial;
    @include media-breakpoint-down(lg) { 
        position: fixed;
    }
}