.sidebar {
    
    width: $sidebar-base-width;
    height: 100%;
    min-height: 100vh;

    padding: 0 1.0rem;
    position: relative;
    background-color: var(--bg-sidebar);

    &-button {
        color: var(--color-primary);

        border: 0;
        margin: 0 1rem;

        background: transparent;
        display: none;
        
        i{
            font-size: 1.4rem;
            padding: 0.5rem;
        }
    }

    &-button-close {
        border: 0;
        margin: 0;

        color: var(--color-primary);
        background: var(--bg-card);
        border-radius: var(--border-radius);

        display: none;

        i {
            font-size: 1.4rem;
            padding: 0.5rem;
        }
    }

    &-brand {
        height: $topbar-base-height;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        z-index: 1;
        color: var(--color-sidebar-text);

        &-icon {
            img, svg {
                height: 2em;
                width: 2em;
            }
            svg {
                fill: var(--color-primary);
            }
        }
        &-text {
            font-size: 0.95rem;
            text-align: left;
            line-height: 1.125rem;
            display: inline;
            color: var(--color-sidebar-text) !important;
        }

        &-topbar{
            display: none;
        }
    }

    &-heading {
        text-align: left;
        padding: 0;
        font-weight: 800;
        font-size: 0.65rem;
        color: rgba(255, 255, 255, 0.4);
        @extend .text-uppercase;
    }

    &-divider {
        height: 1px;
        background: rgba(255, 255, 255, 0.15);
        margin: 0 0 1rem;
    }

    .badge{
        font-size: 0.7rem !important;
        border-radius: 50%;
    }

    .nav-item {

        // Accordion
        .collapse, .collapsing {
            position: relative;
            left: 0;
            top: 0;

            z-index: 1;
            margin: 0;
            
            .collapse-inner {
                .collapse-item {
                    font-size: 0.85rem;
                    padding: 0.5rem 1rem;
                    margin: 0 0.5rem;
                    display: block;
                    color: var(--color-gray-900);
                    text-decoration: none;
                    border-radius: var(--border-radius);
                    white-space: nowrap;
                    &:hover {
                        background-color: var(--color-gray-200);
                    }
                    &:active {
                        background-color: var(--color-gray-300);
                    }
                }
            }
        }

        .nav-link {
            display: block;
            text-align: left;
            padding: 0.75rem 0;

            color: rgba(255, 255, 255, 0.8);
 
            &:active,
            &:focus,
            &:hover {
                color: var(--color-sidebar-text);
                i {
                    color: var(--color-sidebar-text);
                }
            }

            i {
                color: rgba(255, 255, 255, 0.3);
                font-size: 0.85rem;
                margin-right: 0.25rem;
            }
            span {
                font-size: 0.85rem;
                display: inline;
            }
            // Accordion Arrow Icon
            &[data-bs-toggle="collapse"] {
                &::after {
                    width: 1rem;
                    text-align: center;
                    float: right;
                    vertical-align: 0;
                    border: 0;
                    font-weight: 900;
                    content: "\f107";
                    font-family: "Font Awesome 7 Free";
                    color: rgba(255, 255, 255, 0.5);
                }
                &.collapsed::after {
                    content: "\f105";
                }
            }

        }

        &.active {
            .nav-link {
                color: var(--color-sidebar-text);
                font-weight: bold;
                i {
                    color: var(--color-sidebar-text);
                }
            }
        }
    }

    // Collapse inner items (dropdown menus in sidebar)
    .collapse-inner {
        background-color: var(--bg-card);
    }

    img.logo {
        width: 11rem;
    }

    a.version{
        text-align: center;
        font-size: 0.625rem;
        color: #8da0ab;
        text-decoration: none;
        margin-top: -0.5rem;

        &:hover{
            text-decoration: underline;
        }
    }
}

@include media-breakpoint-down(lg) { 
    .sidebar {
        width: 100vw;
        height: 100vh;

        padding: 0 1.5rem;
        overflow-y: scroll;
        display: none;

        &-show{
            display: block;
        }

        &-button, &-button-close{
            display: block;
        }

        &-brand-topbar{
            padding: 0;
            display: flex;
        }

        .nav-item{
            .nav-link{
                width: 100%;
            }
        }
    }

}