.sidebar {
    
    width: $sidebar-base-width;
    height: 100%;
    min-height: 100vh;

    position: relative;
    background-color: $primary;

    &-button {
        color: $primary;

        border: 0;
        margin: 0 1rem;

        background: transparent;
        display: none;
        
        i{
            font-size: 1.4rem;
            padding: 0.5rem;
        }
    }

    &-button-close {
        border: 0;
        margin: 0;

        color: $primary;
        background: $white;
        border-radius: $border-radius;

        display: none;

        i {
            font-size: 1.4rem;
            padding: 0.5rem;
        }
    }

    &-brand {
        height: $topbar-base-height;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 800;
        padding: 1.5rem 1rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        z-index: 1;
        color: $white;

        &-icon {
            img, svg {
                height: 2em;
                width: 2em;
            }
            svg {
                fill: $primary;
            }
        }
        &-text {
            width: 65px;
            font-size: 0.95rem;
            text-align: left;
            line-height: 18px;
            display: inline;
        }

        &-topbar{
            display: none;
        }
    }

    &-heading {
        text-align: left;
        padding: 0 1rem;
        font-weight: 800;
        font-size: 0.65rem;
        color: fade-out($white, 0.6);
        @extend .text-uppercase;
    }

    &-divider {
        border-top: 1px solid fade-out($white, 0.85);
        margin: 0 0 1rem;
    }

    .nav-item {

        // Accordion
        .collapse, .collapsing {
            position: relative;
            left: 0;
            top: 0;

            z-index: 1;
            margin: 0 1rem;
            
            .collapse-inner {
                .collapse-item {
                    font-size: 0.85rem;
                    padding: 0.5rem 1rem;
                    margin: 0 0.5rem;
                    display: block;
                    color: $gray-900;
                    text-decoration: none;
                    border-radius: $border-radius;
                    white-space: nowrap;
                    &:hover {
                        background-color: $gray-200;
                    }
                    &:active {
                        background-color: $gray-300;
                    }
                }
            }
        }

        .nav-link {
            display: block;
            width: 100%;
            text-align: left;
            padding: 0.75rem 1rem;
            width: $sidebar-base-width;

            color: fade-out($white, 0.2);
 
            &:active,
            &:focus,
            &:hover {
                color: $white;
                i {
                    color: $white;
                }
            }

            i {
                color: fade-out($white, 0.7);
                font-size: 0.85rem;
                margin-right: 0.25rem;
            }
            span {
                font-size: 0.85rem;
                display: inline;
            }
            // Accordion Arrow Icon
            &[data-bs-toggle="collapse"] {
                &::after {
                    width: 1rem;
                    text-align: center;
                    float: right;
                    vertical-align: 0;
                    border: 0;
                    font-weight: 900;
                    content: "\f107";
                    font-family: "Font Awesome 6 Free";
                    color: fade-out($white, 0.5);
                }
                &.collapsed::after {
                    content: "\f105";
                }
            }

        }

        &.active {
            .nav-link {
                color: $white;
                font-weight: bold;
                i {
                    color: $white;
                }
            }
        }
    }

    img.logo {
        width: 175px;
        position: absolute;
        bottom: 20px;
        left: 22px;

        @include media-breakpoint-down(md) {
            left: 10px;
            width: 80%;
        }
    }

    a.version{
        text-align: center;
        font-size: 10px;
        color: #8da0ab;
        text-decoration: none;

        position: absolute;
        width: 160px;
        
        bottom: 15px;
        left: 32px;

        &:hover{
            text-decoration: underline;
        }

        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

@include media-breakpoint-down(lg) { 
    .sidebar {
        width: 100vw;
        height: 100vh;

        overflow-y: scroll;
        display: none;

        &-show{
            display: block;
        }

        &-button, &-button-close{
            display: block;
        }

        &-brand-topbar{
            display: flex;
        }
    }

}