:root {
    --md-primary-fg-color: #1a475f;
}

[data-md-color-scheme="default"]{
    --md-typeset-a-color: #1a475f;
    --md-accent-fg-color: #43c6e7;
}

[data-md-color-scheme="slate"]{
    --md-typeset-a-color: #43c6e7;
    --md-accent-fg-color: #dfebeb;
}