name: Run Tests

on:
  pull_request:
    branches: [ master ]

jobs:
  test-app:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"

    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist && npm install

    - name: Generate key
      run: php artisan key:generate

    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache

    - name: Create Database
      run: |
        mkdir -p database
        touch database/testing.sqlite

    - name: Execute unit and feature tests via PHPUnit
      run: ./vendor/bin/phpunit --log-junit=report.junit.xml

    - uses: dorny/test-reporter@v1
      with:
        name: Laravel/PHPUnit Tests
        path: '*.xml'
        reporter: java-junit
