name: Run Tests

on:
  pull_request:
    branches:
      - master
      - 'version/**'

jobs:
  test-app:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Control Center
      uses: actions/checkout@v3
      with:
        path: controlcenter

    - name: Checkout Handover
      uses: actions/checkout@v3
      with:
        repository: vatsim-scandinavia/handover
        path: handover

    - name: Setup Handover
      uses: ./controlcenter/.github/workflows/setup-project
      with:
        path: handover

    - name: Setup Control Center
      uses: ./controlcenter/.github/workflows/setup-project
      with:
        path: controlcenter
        setup-node: true

    - name: Execute unit and feature tests via PHPUnit
      run: ./vendor/bin/phpunit --color=always --testdox
      working-directory: ./controlcenter
