name: Run Tests

on:
  push:
    branches:
      - '*'

jobs:
  test-app:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Control Center
      uses: actions/checkout@v3
      with:
        path: controlcenter

    - name: Checkout Handover
      uses: actions/checkout@v3
      with:
        repository: vatsim-scandinavia/handover
        path: handover

    - name: Setup Handover
      uses: ./controlcenter/.github/workflows/setup-project
      with:
        path: handover
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite

    - name: Setup Control Center
      uses: ./controlcenter/.github/workflows/setup-project
      with:
        path: controlcenter
        setup-node: true
        seed-database: true
      env:
        DB_CONNECTION: sqlite-testing
        DB_HANDOVER_CONNECTION: sqlite-handover
        DB_HANDOVER_DATABASE: ../handover/database/database.sqlite

    - name: Execute unit and feature tests via PHPUnit
      run: ./vendor/bin/phpunit --color=always --testdox
      working-directory: ./controlcenter
